*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
.idea
/UICore
/UICoreEx
/apk
/.apk
/.pull
/pull
/.aar
.save
test.xlsx
material.xlsx
~$material.xlsx
res.csv
csv.csv
de.csv
es.csv
fr.csv
ko.csv
language.xlsx
rHK.csv
rHK.csv~
xml.xml
