*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
.idea
/UICore
/UICoreEx
/apk
/.apk
/.pull
/pull
/.aar
.save
test.xlsx
material.xlsx
~$material.xlsx
res.csv
csv.csv
de.csv
es.csv
fr.csv
ko.csv
language.xlsx
rHK.csv
rHK.csv~
xml.xml
pc_zh.csv
rn_zh.csv
~$excel.xlsx
excel.xlsx
~$language.xlsx
~$翻译稿.xlsx
翻译稿.xlsx
zh_rHK.csv
sku.xlsx
sku_result.xlsx
material_0.json
material_1.json
material_lx1_1064_2.json
material_lx1_450_10.json
material_lx1_450_20.json
