<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.angcyo.uicore.demo">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <!--android 11+-->
    <!--The Google Play store has a policy that limits usage of MANAGE_EXTERNAL_STORAGE-->
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_MEDIA_STORAGE" />

    <!--NFC-->
    <uses-permission android:name="android.permission.NFC" />
    <uses-feature
        android:name="android.hardware.nfc"
        android:required="false" />

    <!-- Android 11 软件包可见性适配 -->
    <!--https://developer.android.google.cn/guide/topics/manifest/queries-element-->
    <queries>
        <!-- 调起其他页面意图：Intent.ACTION_VIEW -->
        <intent>
            <action android:name="android.intent.action.VIEW" />
        </intent>
    </queries>

    <!--android:requestLegacyExternalStorage="true"-->
    <application
        android:name="com.angcyo.uicore.App"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_logo_png"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@drawable/ic_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning"
        tools:replace="android:allowBackup,android:supportsRtl">

        <!--android:screenOrientation="portrait"-->
        <activity
            android:name="com.angcyo.uicore.SplashActivity"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode|smallestScreenSize"
            android:exported="true"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- Declare notch support -->
            <meta-data
                android:name="android.notch_support"
                android:value="true" />

            <!--静态注册快捷方式-->
            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <service
            android:name="com.angcyo.uicore.component.TaskService"
            android:enabled="true"
            android:exported="false" />

        <activity
            android:name="com.angcyo.uicore.MainActivity"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode|smallestScreenSize"
            android:exported="true"
            android:launchMode="singleTask"
            android:resizeableActivity="true"
            android:rotationAnimation="rotate"
            android:screenOrientation="fullUser"
            android:windowSoftInputMode="adjustResize">

            <!-- Declare notch support -->
            <meta-data
                android:name="android.notch_support"
                android:value="true" />

        </activity>

        <activity android:name="com.angcyo.uicore.activity.FragmentInFragmentActivity" />
        <activity android:name="com.angcyo.uicore.activity.ViewPagerInFragmentActivity" />
        <activity android:name="com.angcyo.uicore.activity.ViewPager2InFragmentActivity" />
        <activity android:name="com.angcyo.uicore.activity.ViewPagerInViewPagerActivity" />
        <activity android:name="com.angcyo.uicore.activity.ViewPager2InViewPager2Activity" />
        <activity android:name="com.angcyo.uicore.activity.TransitionDetailActivity" />
        <activity android:name="com.angcyo.uicore.activity.TransitionDetailActivity2" />

        <receiver
            android:name="com.angcyo.uicore.app.AppBroadcastReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="app.action.demo" />
                <action android:name="${applicationId}.request_pin_shortcut" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.angcyo.uicore.app.AppService"
            android:exported="false" />

        <!--快捷方式测试-->
        <activity
            android:name="com.angcyo.uicore.activity.ShortcutActivity"
            android:exported="true"
            android:label="ShortcutActivity">
            <intent-filter>
                <!--[MAIN] [VIEW] 二选一都可以-->
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <!--可以不添加-->
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!--扫一扫-->
        <activity
            android:name="com.angcyo.uicore.AppScanActivity"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode|smallestScreenSize"
            android:excludeFromRecents="false"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/CodeActivityStyle" />

        <!--web-->
        <activity
            android:name="com.angcyo.uicore.activity.AppWebActivity"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode|smallestScreenSize"
            android:exported="true"
            android:launchMode="standard"
            android:noHistory="false"
            android:rotationAnimation="seamless"
            android:screenOrientation="fullSensor"
            android:windowSoftInputMode="adjustResize">

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="acy" />
            </intent-filter>
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:scheme="about" />
                <data android:scheme="javascript" />
            </intent-filter>

            <intent-filter
                android:label="@string/app_name"
                tools:ignore="AppLinkUrlError">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:mimeType="text/html" />
                <data android:mimeType="text/xml" />
                <data android:mimeType="application/xhtml+xml" />
                <data android:mimeType="application/vnd.wap.xhtml+xml" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.WEB_SEARCH" />
                <action android:name="android.intent.action.SEARCH" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.WEB_SEARCH" />
                <action android:name="android.intent.action.SEARCH" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:scheme="about" />
                <data android:scheme="javascript" />
            </intent-filter>

            <intent-filter android:label="使用TBS打开">
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <data android:scheme="player" />
                <data android:mimeType="video/*" />
            </intent-filter>
        </activity>

        <activity android:name="com.angcyo.uicore.test.TestActivity" />

        <service
            android:name="com.angcyo.core.component.accessibility.RAccessibilityService"
            android:enabled="true"
            android:exported="true"
            tools:replace="android:enabled,android:exported" />

        <!--NFC-->
        <!--https://developer.android.com/guide/topics/connectivity/nfc/nfc-->
        <activity
            android:name="com.angcyo.uicore.activity.NfcHandleActivity"
            android:enabled="true"
            android:exported="true"
            android:label="UICoreDemo-Nfc">

            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />
                <category android:name="android.intent.category.DEFAULT" />
                <data
                    android:host="developer.android.com"
                    android:pathPrefix="/index.html"
                    android:scheme="http" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.nfc.action.TECH_DISCOVERED" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.nfc.action.TAG_DISCOVERED" />
            </intent-filter>

            <meta-data
                android:name="android.nfc.action.TECH_DISCOVERED"
                android:resource="@xml/nfc_tech_filter" />

        </activity>

        <!--注意“：”很重要，它的意思是指要在当前进程名称前面附加上当前的包名，
        所以“remote”和”:remote”不是同一个意思，
        前者的进程名称为：remote，
        而后者的进程名称为：App-packageName:remote。-->
        <activity
            android:name=".ipc.IpcActivity"
            android:enabled="true"
            android:exported="true"
            android:launchMode="singleTask"
            android:process=":ipc"
            android:taskAffinity=".ipc" />

        <activity
            android:name=".ipc.IpcActivity2"
            android:enabled="true"
            android:exported="true"
            android:launchMode="singleTask"
            android:process="com.angcyo.uicore.demo.ipc"
            android:taskAffinity="com.angcyo.uicore.demo.ipc" />

        <service
            android:name=".ipc.BinderService"
            android:enabled="true"
            android:exported="false" />

        <service
            android:name="com.angcyo.uicore.component.BaiduTraceService"
            android:enabled="true"
            android:exported="false" />

        <service
            android:name=".service.CurrentActivityService"
            android:enabled="true"
            android:exported="false" />
    </application>

</manifest>