<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.angcyo.uicore.demo">

    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!--android:requestLegacyExternalStorage="true"-->
    <application
        android:name="com.angcyo.uicore.App"
        android:allowBackup="true"
        android:icon="@drawable/ic_logo"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="false"
        android:roundIcon="@drawable/ic_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <activity
            android:name="com.angcyo.uicore.SplashActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|fontScale|smallestScreenSize|density|screenLayout"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- Declare notch support -->
            <meta-data
                android:name="android.notch_support"
                android:value="true" />
        </activity>

        <service
            android:name="com.angcyo.uicore.component.TaskService"
            android:enabled="true"
            android:exported="false" />

        <activity
            android:name="com.angcyo.uicore.MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|fontScale|smallestScreenSize|density|screenLayout"
            android:launchMode="singleTask"
            android:rotationAnimation="seamless"
            android:screenOrientation="fullSensor"
            android:windowSoftInputMode="adjustResize" />

        <activity android:name="com.angcyo.uicore.activity.FragmentInFragmentActivity" />
        <activity android:name="com.angcyo.uicore.activity.ViewPagerInFragmentActivity" />
        <activity android:name="com.angcyo.uicore.activity.ViewPager2InFragmentActivity" />
        <activity android:name="com.angcyo.uicore.activity.ViewPagerInViewPagerActivity" />
        <activity android:name="com.angcyo.uicore.activity.ViewPager2InViewPager2Activity" />
        <activity android:name="com.angcyo.uicore.activity.TransitionDetailActivity" />
        <activity android:name="com.angcyo.uicore.activity.TransitionDetailActivity2" />

        <receiver
            android:name="com.angcyo.uicore.app.AppBroadcastReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="app.action.demo" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.angcyo.uicore.app.AppService"
            android:exported="false" />
    </application>

</manifest>