<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.angcyo.uicore.demo">

    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!--android:requestLegacyExternalStorage="true"-->
    <application
        android:name="com.angcyo.uicore.App"
        android:allowBackup="true"
        android:icon="@drawable/ic_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <meta-data
            android:name="android.max_aspect"
            android:value="2.5" />

        <activity
            android:name="com.angcyo.uicore.SplashActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|fontScale|smallestScreenSize|density|screenLayout"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- Declare notch support -->
            <meta-data
                android:name="android.notch_support"
                android:value="true" />

            <!--静态注册快捷方式-->
            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>

        <service
            android:name="com.angcyo.uicore.component.TaskService"
            android:enabled="true"
            android:exported="false" />

        <activity
            android:name="com.angcyo.uicore.MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|fontScale|smallestScreenSize|density|screenLayout"
            android:launchMode="singleTask"
            android:rotationAnimation="seamless"
            android:screenOrientation="fullSensor"
            android:windowSoftInputMode="adjustResize" />

        <activity android:name="com.angcyo.uicore.activity.FragmentInFragmentActivity" />
        <activity android:name="com.angcyo.uicore.activity.ViewPagerInFragmentActivity" />
        <activity android:name="com.angcyo.uicore.activity.ViewPager2InFragmentActivity" />
        <activity android:name="com.angcyo.uicore.activity.ViewPagerInViewPagerActivity" />
        <activity android:name="com.angcyo.uicore.activity.ViewPager2InViewPager2Activity" />
        <activity android:name="com.angcyo.uicore.activity.TransitionDetailActivity" />
        <activity android:name="com.angcyo.uicore.activity.TransitionDetailActivity2" />

        <receiver
            android:name="com.angcyo.uicore.app.AppBroadcastReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="app.action.demo" />
                <action android:name="${applicationId}.request_pin_shortcut" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.angcyo.uicore.app.AppService"
            android:exported="false" />

        <!--快捷方式测试-->
        <activity
            android:name="com.angcyo.uicore.activity.ShortcutActivity"
            android:label="ShortcutActivity">
            <intent-filter>
                <!--[MAIN] [VIEW] 二选一都可以-->
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <!--可以不添加-->
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!--扫一扫-->
        <activity
            android:name="com.angcyo.uicore.AppScanActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|fontScale|smallestScreenSize|density|screenLayout"
            android:excludeFromRecents="false"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/CodeActivityStyle" />

        <!--web-->
        <activity
            android:name="com.angcyo.uicore.activity.AppWebActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|fontScale|smallestScreenSize|density|screenLayout"
            android:launchMode="standard"
            android:rotationAnimation="seamless"
            android:screenOrientation="fullSensor"
            android:windowSoftInputMode="adjustResize">

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="acy" />
            </intent-filter>
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:scheme="about" />
                <data android:scheme="javascript" />
            </intent-filter>

            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:mimeType="text/html" />
                <data android:mimeType="text/xml" />
                <data android:mimeType="application/xhtml+xml" />
                <data android:mimeType="application/vnd.wap.xhtml+xml" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.WEB_SEARCH" />
                <action android:name="android.intent.action.SEARCH" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.WEB_SEARCH" />
                <action android:name="android.intent.action.SEARCH" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:scheme="about" />
                <data android:scheme="javascript" />
            </intent-filter>

            <intent-filter android:label="search_pic">
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <data android:scheme="player" />
                <data android:mimeType="video/*" />
            </intent-filter>
        </activity>
    </application>

</manifest>